<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1061783862218-abgf3kusegkrl6j5b9c9kghf1g8c0kqa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1061783862218-abgf3kusegkrl6j5b9c9kghf1g8c0kqa</string>
	<key>API_KEY</key>
	<string>AIzaSyA_yj5uklLTLwAvzq-vDT7MUjqxI0jpydE</string>
	<key>GCM_SENDER_ID</key>
	<string>1061783862218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mypackage.coolapp</string>
	<key>PROJECT_ID</key>
	<string>native-analytics-7b231</string>
	<key>STORAGE_BUCKET</key>
	<string>native-analytics-7b231.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1061783862218:ios:d51b319bdb04e2133bad33</string>
</dict>
</plist>